In [20]:
# Impoort libraries
import pandas as pd
import numpy as np

#Import Neighbors
from sklearn import neighbors
from sklearn.metrics import mean_squared_error
from math import sqrt

In [ ]:
# read data 
df = pd.read_csv("Downloads/Salary_Data.csv")

In [21]:
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [28]:
# Check for null values
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

Since there are no null values, there is no need to drop columns or do imputation.

In [29]:
#Split data into training and testing data 
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size = 0.3)

In [24]:
x_train = train.drop('Salary', axis=1)
y_train = train.drop('YearsExperience', axis=1)

x_test = test.drop('Salary', axis=1)
y_test = test.drop('YearsExperience', axis=1)

In [31]:
rmse_val = []
for K in range(20): 
    K = K+1
    
    #Fit the model
    model = neighbors.KNeighborsRegressor(n_neighbors = K)
    model.fit(x_train, y_train)
    
    #Make prediction on test set 
    pred = model.predict(x_test)
    
    #Calculator RMSE (difference in prediction and y_test)
    error = sqrt(mean_squared_error(y_test, pred))
    rmse_val.append(error)
    print('RMSE value for k= ' , K , 'is:', error)

RMSE value for k=  1 is: 6401.018990060185
RMSE value for k=  2 is: 7010.124010236116
RMSE value for k=  3 is: 5641.084931985739
RMSE value for k=  4 is: 6824.844957538922
RMSE value for k=  5 is: 9003.319207442946
RMSE value for k=  6 is: 9591.373075437228
RMSE value for k=  7 is: 10382.672141187126
RMSE value for k=  8 is: 11601.10382941054
RMSE value for k=  9 is: 12705.114316618878
RMSE value for k=  10 is: 14462.663539111856
RMSE value for k=  11 is: 16318.330294954918
RMSE value for k=  12 is: 18272.73141868036
RMSE value for k=  13 is: 20230.305926757603
RMSE value for k=  14 is: 21932.64134878835
RMSE value for k=  15 is: 23306.178111552468
RMSE value for k=  16 is: 24789.472474259783
RMSE value for k=  17 is: 26118.174517917683
RMSE value for k=  18 is: 27596.416027945517
RMSE value for k=  19 is: 29029.64456425947
RMSE value for k=  20 is: 30613.644494371747

k = 3 has the lowest Root Mean Squared Error